@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");

.spacer {
  height: 20px;
}

.cardGridContainer {
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 20px !important;
  padding-top: 30px !important;
}

.cardContainer {
  box-shadow: none !important;
  margin-bottom: 20px !important;
}

.cardContainer:hover {
  box-shadow: none !important;
}

.imgCardTilt {
  width: 100%;
}

.settingBarStyle:before {
  content: "";
  transition: all 2s;
  position: absolute;
  top: 0px;
  height: 60px;
  width: 100%;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_filter_top_tile-2fc1e6f76b820b6c4134c00256a3c6210296b44f0e704fc3df57489c18a1ce91bb35b7ecd693c8d4b5c497c751f32e530105028ba52a88a7f13f8879ec342294.png")
    center top repeat-x;
}

.settingBarStyle {
  --bs-gutter-x: 0 !important;
  width: 100%;
  top: 0;
  transition: all 2s;
  align-items: center;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_filter_middle_tile-907853600f2b8dc11ae3acca94ff309f58b4959f380a6995e1b69b2d94f4bae5811b3ec588d56290599d59ddf6d00f0ce3fa9087c08ee8f7eabe843ed3646f9d.jpg");
  padding: 11px 0px 0px;
  position: relative;
  align-items: center;
  display: flex;
  height: 92px;
  z-index: 3;
}

.settingBarStyle:after {
  content: "";
  position: absolute;
  bottom: -15px;
  height: 60px;
  width: 100%;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_filter_bottom_tile-fe6e278438831fdcb9e897c1d90882eadf1c9c9edb05f9e729b8678c3da8ce386e4a5a03200d943c64837e7d113a8345b8424d05b7906570dde191e3eab8b4dd.png")
    center top repeat-x;
}

.searchBarController {
  width: 323px;
}

.inputStyle {
  padding-left: 5px;
  background-color: transparent;
  width: 95%;
  z-index: 999;
  border: none;
  font-weight: 500;
  font-size: 18px;
  font-family: HearthStoneFont;
  color: #d6ab1d;
  caret-color: #d6ab1d;
}

.inputStyle:focus-visible {
  outline: none;
}

.inputStyle::placeholder {
  color: rgba(255, 255, 255, 0.454);
  font-weight: 500;
  font-size: 18px;
  font-family: HearthStoneFont;
}

.noResultContainer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -65px !important;
  margin-bottom: 30px;
}

.dividerNoResultImage {
  margin: 0px auto -60px;
  width: 296px;
  height: 288px;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/cardgallery_empty_keyart-087e770b5f99c63fe84ae21c0c412d1b9c91c86ecd8f7635d7e1ec895b1f3f2eebc20fe12192522b2d991b34393b169e8c6780f0cc88387be0397ca75099e786.png")
    center center no-repeat;
  position: relative;
  z-index: 1;
}
.dividerNoResult {
  width: 100%;
  height: 34px;
  background-size: 100% !important;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/ui/divider-double-detailed-93ef45548a2f3d93bb7d53152ec7b98a71cba0c1a885f653bf42de28022ba3faf4e2978bb21c6f9b9286414070d4c486ec49f5b0304bd6247d4074f7984d6955.png")
    center no-repeat;
}

.dividerNoResultMessage {
  margin-top: 35px;
  color: rgb(97, 67, 38);
  font-family: HearthStoneFont;
}

.divInternalOne::before {
  content: "";
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_component_left-6b7e7884670039ca95b4a3b1cb567ae78549f12e96751089591af6bcac0fbe40b23e4f8c93cd96229c7ebab9e67b23d0fb9e56d52a47e61fbbe753211d908e84.png")
    left center no-repeat;
  height: 54px;
  width: 34px;
  position: absolute;
  left: -30px;
  top: -0px;
}

.divInternalOne {
  height: 54px;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_component_middle_tile-44edb7499e3128e81acc4ba8fcb8dd3a59ff0ef302baef5f3a8211d96fc3c932e09c2e41386f8f1cdf437193ddad43af9699636559cac5b007ceef4b69046765.png")
    center center repeat-x;
  padding: 6px 0px;
  margin-left: 34px;
  position: relative;
}

.divInternalOne::after {
  content: "";
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/bg_component_right-7697450b1310903cfb15179cc963f0ca60a3e22c8b938361310770a6a39eb1480909c01980b85da8c7bf954766df5b0e03865b86d8980e5c46ac2e1d1198ccdf.png")
    right center no-repeat;
  height: 54px;
  width: 34px;
  position: absolute;
  right: -30px;
  top: 0px;
}

.divInternalTwo::before {
  content: "";
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/search_left-3cb561cf585e6b6aded5dca35f8c16b3450db50cf6146e8699bd9a12117eede0b0e437db488e0a499755f2a442229c1c633522a26b08138350140aebab05ec31.png")
    left center no-repeat;
  height: 42px;
  width: 24px;
  position: absolute;
  left: -24px;
  top: 0px;
  transition: background-image 0.15s ease 0s;
}

.divInternalTwo {
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/search_middle_stretch-ea2c7bde67b73e83e192c5a6a952519dfcad9041f4eada47653141ee06d51a316268240dd2d5cd1b8ba704ce64b213cf824f82c31ac05cc7dcedd5d584d793b9.png")
    center center;
  height: 42px;
  position: relative;
  z-index: 1;
  margin: 0px -3px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  transition: background-image 0.15s ease 0s;
}

.divInternalTwo::after {
  content: "";
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/search_right-9e22f78542b7f45c1fbffb80d6fe8f54bdb3bf5ba2972d0d20ce586b86e5b896a79bd9dd811dd0a846253db72c4821bf53aa0f3ea2add1efec8e374e9a62497d.png")
    right center no-repeat;
  height: 42px;
  width: 24px;
  position: absolute;
  right: -24px;
  z-index: 1;
  top: 0px;
  transition: background-image 0.15s ease 0s;
}

.divInternalThreeSearchBar {
  width: 100% !important;
  margin: 0px -10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.divInternalThree {
  margin: 0px -10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.starButton::before {
  content: "";
  position: absolute;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/battlegrounds/icon_gold_selected-db81d4250b855e8f57996a35bdc48bee978a8bc880d8af02b804481a80094497a5376eb61833b94d427cb26194c2528520c052044527be424a61aa6e4bc1bb81.png")
    center center / contain no-repeat;
  inset: -10px;
  opacity: 0;
  transition: opacity 0.15s ease 0s;
}

.startButtonSelected {
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/battlegrounds/icon_gold_selected-db81d4250b855e8f57996a35bdc48bee978a8bc880d8af02b804481a80094497a5376eb61833b94d427cb26194c2528520c052044527be424a61aa6e4bc1bb81.png")
    center center / contain no-repeat !important;
  background-size: 43px !important;
}

.starButton:hover::before {
  opacity: 1;
}

.starButton {
  width: 36px;
  height: 34px;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/battlegrounds/icon_gold-d5467243c3779b51398768214f15b7c2a4a636d9972db16b2ed1b27b8fcf49a8bcb0f3885195c11b32437e247fc8421bc076dd585983b01f0344fff77c20a75a.png")
    center center / contain no-repeat;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  z-index: 9999 !important;
  border: none;
}

.starButtonText {
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  text-shadow: rgb(0 0 0) 2px 0px 0px, rgb(0 0 0) 1.75517px 0.95885px 0px,
    rgb(0 0 0) 1.0806px 1.68294px 0px, rgb(0 0 0) 0.14147px 1.99499px 0px,
    rgb(0 0 0) -0.83229px 1.81859px 0px, rgb(0 0 0) -1.60229px 1.19694px 0px,
    rgb(0 0 0) -1.97998px 0.28224px 0px, rgb(0 0 0) -1.87291px -0.70157px 0px,
    rgb(0 0 0) -1.30729px -1.5136px 0px, rgb(0 0 0) -0.42159px -1.95506px 0px,
    rgb(0 0 0) 0.56732px -1.91785px 0px, rgb(0 0 0) 1.41734px -1.41108px 0px,
    rgb(0 0 0) 1.92034px -0.55883px 0px;
  position: relative;
  white-space: nowrap;
  font-family: HearthStoneFont;
}

.checkBoxFilterContainer {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 999;
}

.checkBoxFilter {
  display: flex;
  align-items: center;
}

.checkBoxTitle {
  margin-right: 8px;
  font-size: 18px;
  color: white;
  font-family: HearthStoneFont;
  text-shadow: rgb(0 0 0) 2px 0px 0px, rgb(0 0 0) 1.75517px 0.95885px 0px,
    rgb(0 0 0) 1.0806px 1.68294px 0px, rgb(0 0 0) 0.14147px 1.99499px 0px,
    rgb(0 0 0) -0.83229px 1.81859px 0px, rgb(0 0 0) -1.60229px 1.19694px 0px,
    rgb(0 0 0) -1.97998px 0.28224px 0px, rgb(0 0 0) -1.87291px -0.70157px 0px,
    rgb(0 0 0) -1.30729px -1.5136px 0px, rgb(0 0 0) -0.42159px -1.95506px 0px,
    rgb(0 0 0) 0.56732px -1.91785px 0px, rgb(0 0 0) 1.41734px -1.41108px 0px,
    rgb(0 0 0) 1.92034px -0.55883px 0px;
}

.customCheckBox {
  z-index: 9999;
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #3d0d0d;
  display: flex;
  border: 3px solid #c5aa54;
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
  transition: all 0.2s;
}

.customCheckBox:hover {
  border-radius: 4px;
  background-color: #8b2020;
  border: 3px solid #f5ef9e;
}

.customCheckBox:active {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 0px;
}

@media screen and (max-width: 768px) {
  .filtersContainer {
    display: none;
  }

  .divInternalThree {
    width: 100%;
  }
  .searchBarController {
    width: 100%;
  }

  .divInternalOne {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 1199px) {
  .searchBarController {
    width: 250px;
  }

  .filtersContainer {
    margin-left: 30px;
  }
  .checkBoxFilterContainer {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .searchBarController {
    width: 250px;
  }

  .filtersContainer {
    margin-left: 30px;
  }
  .checkBoxFilterContainer {
    margin-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .searchBarContainer {
    width: 100%;
  }
  .searchBarController {
    width: 100%;
  }

  .filtersContainer {
    display: none;
  }
  .checkBoxFilterContainer {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .searchBarContainer {
    width: 70%;
    margin-left: 30px !important;
  }
}
