.dividerContainer {
  padding: 0;
}

.dividerTitleContainer {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.titleLeftStart {
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 20px;
  min-width: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_left_left-4ea812cf6e4737b925df38b1dde2842e38b1e31cfaf3ca0c7dad12fb2e7f40f887e8bb73de0b130082ab7abf0546dea8f206df2d09fdc45323dedd39badbe7db.png")
    center top no-repeat;
}
.titleLeftMiddle {
  height: 17px;
  -webkit-box-flex: 2;
  flex-grow: 2;
  min-width: 70px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_left_middle-51706a44e86f61a19f270f2dd68b2eff1556595521a0cf0f479cfb4f9c9c43e64df79f9e95f3e8ea890526baafcdd20d40c901f5e631cd6fff14696ee115e7a2.png")
    center top / 100% 62.66% no-repeat;
}

.titleLeftEnd {
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 20px;
  min-width: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_left_right-826edaffb93c0fbdd9ddd4461f5b606d86fd002531f5affadc2d27ed7e76e1753e6ef6eba3a124ce360c641ffac4c49f39ebf7b1181985c725fea8e9a051c22b.png")
    center top no-repeat;
}

.titleContent {
  padding: 0px 30px;
  margin-top: -5px;
  min-width: fit-content;
}

.titleBanner {
  width: 300px;
  height: 75px;
  margin: 0px 40px;
  position: relative;
  top: -30px;
  transition: all 0.125s ease-out 0s;
  fill: rgb(97, 67, 38);
  fill-opacity: 0.4;
}

.titleRightStart {
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 20px;
  min-width: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_right_left-87ab5986f5908c6b70f05c13f2e1cd0d5fa00e80be2ba52f153db3103f37d58108a55c8faf972389cdc2591acaa126d15f195ffbe90eced9d975eaf94518e184.png")
    center top no-repeat;
}
.titleRightMiddle {
  height: 17px;
  -webkit-box-flex: 2;
  flex-grow: 2;
  min-width: 70px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_left_middle-51706a44e86f61a19f270f2dd68b2eff1556595521a0cf0f479cfb4f9c9c43e64df79f9e95f3e8ea890526baafcdd20d40c901f5e631cd6fff14696ee115e7a2.png")
    center top / 100% 62.66% no-repeat;
}
.titleRightEnd {
  -webkit-box-flex: 0;
  flex-grow: 0;
  width: 20px;
  min-width: 20px;
  padding-bottom: 30px;
  opacity: 0.4;
  background: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/tournament/divider_right_right-09e75e2903b64b222274945666c3eac4401b34b651379edc821e68f9213fbdfd813bb0b7d5b7d9ba91d0e272f5fe4d35b17db0f04b4a91c7c66c97ea10369d57.png")
    center top no-repeat;
}

.tierName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  padding: 0px;
  margin: 0px;
  color: rgb(97, 67, 38);
  white-space: nowrap;
  width: 135px;
  text-align: center;
  transition: all 0.125s ease-out 0s;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.5px;
  font-family: HearthStoneFont;
}
