.popUpContainer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.783);
  z-index: 100;
  font-family: HearthStoneFont;
}

.colOneStylePopup {
  display: flex !important;
  margin: auto !important;
}

.colTwoStylePopup {
  position: relative;
  display: flex !important;
  margin: auto !important;
}

.imgPopupStyle {
  width: 80%;
  max-width: 400px;
  display: flex;
  margin: auto;
}

.detailsContainer {
  width: 100%;
  color: white;
  vertical-align: top;
}

.popupHeader {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 110 !important;
}

.cardTitle {
  word-break: keep-all;
  font-size: 38px;
  text-shadow: rgb(0 0 0) 3px 0px 0px, rgb(0 0 0) 1.75517px 0.95885px 0px,
    rgb(0 0 0) 1.0806px 1.68294px 0px, rgb(0 0 0) 0.14147px 1.99499px 0px,
    rgb(0 0 0) -0.83229px 1.81859px 0px, rgb(0 0 0) -1.60229px 1.19694px 0px,
    rgb(0 0 0) -1.97998px 0.28224px 0px, rgb(0 0 0) -1.87291px -0.70157px 0px,
    rgb(0 0 0) -1.30729px -1.5136px 0px, rgb(0 0 0) -0.42159px -1.95506px 0px,
    rgb(0 0 0) 0.56732px -1.91785px 0px, rgb(0 0 0) 1.41734px -1.41108px 0px,
    rgb(0 0 0) 1.92034px -0.55883px 0px;
}

.cardText {
  font-size: 22px;
  font-family: sans-serif;
}

.featuresList {
  margin-top: 20px;
}

.ulLabelStyle {
  font-size: 18px;
  font-family: sans-serif;
  color: #ffe5ac;
}

.ulValueStyle {
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  color: white;
}

.featuresList li {
  list-style-type: disc;
  color: #ffe5ac;
  font-weight: bold;
  margin-top: 3px;
}

.flavorText {
  font-style: italic;
  font-size: 20px;
  font-family: sans-serif;
  color: #ffe5ac;
  margin-top: 20px;
}

.goldCardContainer {
  margin-top: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.goldCardContainer img {
  width: 58px;
  height: 58px;
  margin-right: 10px;
}

.spanTriple {
  font-family: sans-serif;
  font-size: 18px;
}

.spanTriple span {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  cursor: zoom-in;
  text-decoration: underline !important;
  position: relative;
  font-weight: 600;
}

.goldImageTmpDiv {
  display: none;
  position: absolute;
  left: 90px;
  bottom: 100px;
  z-index: 150;
}

.goldImageTmpDiv img {
  width: 240px;
}

@media screen and (max-width: 768px) {
  .flavorText {
    margin-top: 10px;
    font-size: 16px;
  }

  .ulLabelStyle {
    font-size: 16px;
  }

  .ulValueStyle {
    font-size: 16px;
  }

  .featuresList {
    margin-top: 10px;
  }

  .cardTitle {
    font-size: 28px;
  }

  .colOneStylePopup {
    margin-bottom: 80px !important;
    height: 200px;
  }

  .goldImageTmpDiv {
    left: 40px;
  }
}
